<div id="issues">
  <div class="container">
    <div class="row" *ngFor="let issue of issues" style="display: inline-flex;">
      <div class="column">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{ issue.title }}</h4>
            <div class="card-text">{{ issue.description }}</div>
          </div>
          <button (click)="deleteIssue(issue)">Delete</button> <!-- Update the deleteIssue() method call -->
        </div>
      </div>
    </div>
  </div>
</div>
